header{
    height: 70px;
    background-color: var(--dsf-bg-color-primary);
    display: flex;
    align-items: center;

}

.nav-bar{
    color: var(--dsf-text-color-primary);

}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content h1 {
    font-size: 20px;
}

.nav-count{
    font-size: 12px;
    font-weight: 700;
}

.dsf-header-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  
  }